@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nivo-calendar .month {
  stroke: none; /* Removes borders */
  stroke-width: 0; /* Ensures no border width is applied */
}